# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

language: swift
osx_image: xcode12.2
xcode_workspace: SocialAppCleanSwift.xcworkspace
xcode_scheme: SocialAppCleanSwift
xcode_destination: platform=iOS Simulator,OS=14.2,name=iPhone 11 Pro Max
before_install:
- gem install cocoapods
- cd SocialAppCleanSwift
- pod install

# osx_image: xcode12.2
# language: swift
# cache: cocoapods
# podfile: FitnessApp/Podfile
# 
# before_install:
# - gem install cocoapods
# - pod repo update
# - git clone --depth=1 https://github.com/CocoaPods/Specs.git ~/.cocoapods/repos/master
# - pod install --project-directory=FitnessApp
# 
# script:
# - set -o pipefail && xcodebuild -workspace FitnessApp/FitnessApp.xcworkspace -scheme FitnessApp -sdk iphonesimulator14.2 ONLY_ACTIVE_ARCH=NO | xcpretty
# #- set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/CS_Common_Utils.xcworkspace -scheme CS_Common_Utils-Example -sdk iphonesimulator14.2 ONLY_ACTIVE_ARCH=NO | xcpretty
# #- pod lib lint --allow-warnings